.home-container {
  text-align: center;
  margin-top: 100px;
  color: white;
}

.title {
  font-size: 2.5rem;
}

.nav-menu {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-nav {
  background: #ff3c3c;
  padding: 12px 22px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.footer {
  margin-top: 80px;
}
