.bulbs {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 20;
  margin: 0;
  padding: 0;
}

.bulb {
  width: 12px;
  height: 20px;
  border-radius: 50%;
  animation: glow 1s alternate infinite;
}

@keyframes glow {
  0% { background: #ff0000; box-shadow: 0 0 5px red; }
  100% { background: #00ff9d; box-shadow: 0 0 10px #00ff9d; }
}
